In [7]:
# 1. Declare an empty list
empty_lst1 = list()
empty_lst2 =[]
print(empty_lst1)
print(empty_lst2)

[]
[]

In [15]:
# 2. Declare a list with more than 5 items
first_lst = ['Isiyaku', 'Sadiq', 'Jamila', 'muslim', 'Khalil', 'Jamil', 'Aisha']
print(first_lst)
# 3. Find the length of your list
print(len(first_lst))
# 4. Get the first item,the middle item and the last item of the list
first_item = first_lst[0]
middle_item = first_lst[3]
last_item = first_lst[6]

print(first_item)
print(middle_item)
print(last_item)

['Isiyaku', 'Sadiq', 'Jamila', 'muslim', 'Khalil', 'Jamil', 'Aisha']
7
Isiyaku
muslim
Aisha

In [17]:
# 5. Declare a list called mixed_data_types
mixed_data_types =['Jamila', 31, 1.54, 'Married', 'tunfure'] 

# 6. Declare a list variable named it
companies =['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# 7. print the list using _print()
print(mixed_data_types)
print(companies)

['Jamila', 31, 1.54, 'Married', 'tunfure']
['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [23]:
# 8. print the number of companies in the list
print(len(mixed_data_types))
print(len(companies))

# 9. print the first,middle and last companies
first_company = companies[0]
middle_company = companies[3]
last_company = companies[6]

print(first_company)
print(middle_company)
print(last_company)

5
7
facebook
Apple
Amazon

In [33]:
# 10. print the list after modifying one of the companies
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Orcle', 'Amazon']
companies[0] = 'WhatsApp'
print(companies)

# 11. Add an IT company to it_companies
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.append('snapchat')
print(companies)

companies.insert(3,'Twitter')
print(companies)

['WhatsApp', 'Google', 'Microsoft', 'Apple', 'IBM', 'Orcle', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'snapchat']
['Facebook', 'Google', 'Microsoft', 'Twitter', 'Apple', 'IBM', 'Oracle', 'Amazon', 'snapchat']

In [31]:
# 12. Insert an IT company in the middle of the companies list
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon',]
companies.insert(3, 'Instagram')
print(companies)

['Facebook', 'Google', 'Microsoft', 'Instagram', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [37]:
# 13. Change one of the it_companies names
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon',]
companies[1] = 'GOOGLE'
print(companies)

['Facebook', 'GOOGLE', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [40]:
# 14. Join the it_companies with a string '#'
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon',]
companies.extend('#;&nbsp;  ')
print(companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', '#', ';', '&', 'n', 'b', 's', 'p', ';', ' ', ' ']

In [44]:
# 15. Check if a certain company exists in the it_companies list
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon',]
print('Checking if Toyota is in the list of companies:False')

Checking if Toyota is in the list of companies:False

In [46]:
# 16. Sort the list using sort() method
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon',]
companies.sort() #Ascending
print(companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [48]:
# 17. Reverse the list in decending order using reverse() mehod
companies.sort(reverse = True) # Descending
print(companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [50]:
# 18. Slice out the last 3 companies from list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon',]
first_three_sliced = it_companies[0:3]
print(first_three_sliced)

['Facebook', 'Google', 'Microsoft']

In [52]:
# 19. Slice out the last 3 companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon',]
last_three_sliced = it_companies[4:]
print(last_three_sliced)

['IBM', 'Oracle', 'Amazon']

In [58]:
# 20. Slice out the middle IT company or companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon',]
middle_sliced = it_companies[3:4]
print(middle_sliced)

['Apple']

In [1]:
# 21. Remove the first IT company from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon',]
it_companies.remove('Facebook')
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [5]:
# 22. Remove the middle IT company or companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon',]
middle_index = len(it_companies) // 2
removed_item = it_companies.pop(middle_index)

print('The middle item is:',removed_item)
print(it_companies)

The middle item is: Apple
['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [7]:
# 23. Remove the last IT company from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon',]
it_companies.remove( 'Amazon' )
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

In [9]:
# 24. Remove all IT companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon',]
it_companies.clear()
print(it_companies)

[]

In [15]:
# 25. Destroy the IT companies list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon',]
del it_companies
print(it_companies)

NameError: name 'it_companies' is not defined

In [17]:
# 26. Join the following list:
front_end = ['HTML', 'CSS', 'JS', 'React','Redux',]
back_end = ['Node', 'Express', 'MongoDB',]

together = front_end + back_end
print(together)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [21]:
# 27. After joining the lists in question
full_stack = together
print(full_stack)

full_stack.insert(5, 'Python')
print(full_stack)

full_stack.insert(6, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [23]:
# LEVEL 2
# LEVEL 2

In [35]:
# 1. The following is a list of students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# - sort the list and find the min and max age
ages.sort()
print(ages)

minimum_value = min(ages)
print('The minimum value in the list is: 19 ')

maximum_value = max(ages)
print('The maximum value in the list is: 26 ')

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The minimum value in the list is: 19
The maximum value in the list is: 26

In [37]:
# - Add the min age and the max age again to the list
print(ages)
ages.append(19)
ages.append(26)
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [41]:
# - Find the median age (one middle item)
median = len(ages) // 2
median_age = ages.pop(median)
print('The median age is:', median_age)

The median age is: 24

In [45]:
# - Find the average age (sum of all item divided by their number)
print(ages)
average = sum(ages) / len(ages)
print('The average of the list of ages above is:', 22.5 )

[19, 19, 19, 20, 22, 24, 25, 25, 26, 26]
The average of the list of ages above is: 22.5

In [47]:
# - Find range of the ages (max minus min)
print(ages)
ages_range = max(ages) - min(ages)

print('The range of the list of ages above is:', 7)

[19, 19, 19, 20, 22, 24, 25, 25, 26, 26]
The range of the list of ages above is: 7

In [1]:
pwd

'C:\\Users\\TASHIBA PC\\ML CLASS'